:host {
  height: 100%;
}

.spacex-container {
  height: calc(100% - 60px);

  .filter {
    width: 230px;
    margin-right: 10px;
  }

  .list {

    width: calc(100% - 230px);
    height: 100%;
  }
}


