/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #eee;
}

@media only screen and (max-width: 1024px) {

  .spacex-container {
    .filter {
      width: 243px !important;
    }

    .list {
      width: calc(100% - 243px) !important;
    }
  }

  .spacex-item{
    width: calc(100% - 27px) !important;
  }
}


@media only screen and (max-width: 600px) {
    .spacex-container {
        .filter {
          width: 100% !important;
        }
    
        .list {
          width: 100% !important;
          margin-top: 30px;
          .space-list-container{
              overflow: visible;
          }
        }
      }
}